<link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>


<footer class="app-footer">

   <div class="contacte">
    <p>Contacter-nous</p>
  </div>
  <div class="info">
    <i class='bx  bx-envelope-open'  > <a href="mailto:seawebagency@gmail.com">seawebagency&#64;gmail.com</a></i>
  </div>
  <div class="info">
    <i class='bxr  bx-phone'  ><a href="tel:+212613820402">+212 613-820402</a></i>
    </div>
    <div class="alloue">
      <h2>Alloué</h2>
    </div>
  <div class="app-container">
   <p> © {{ year }} Alloué — tous les droits sont réservés. </p>
  </div>

 


</footer>