.app-footer{
    // display: flex;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #f8fafc;
}
.app-container{
    // padding: 5px;
    justify-content: center;
    text-align: center;
}